# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
ENV/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Data
/data/price_log.csv

# Streamlit
.streamlit/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db 